<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JSPProj</display-name>
    <!-- 서블릿 등록 -->
  <servlet>
  	<servlet-name>UseManagement</servlet-name>
  	<servlet-class>controller.UseServlet</servlet-class>
  </servlet>
  <!--요청 URL매핑 -->
  <servlet-mapping>
  	<servlet-name>UseManagement</servlet-name>
  	<url-pattern>/UseManagement.do</url-pattern>  
  </servlet-mapping>
  
  <!-- 서블릿 등록 박수영 -->
  <servlet>
  	<servlet-name>HostMngDisplay</servlet-name>
  	<servlet-class>controller.psy.PsyController</servlet-class>
  </servlet>
  <!--요청 URL매핑 박수영 -->
  <servlet-mapping>
  	<servlet-name>HostMngDisplay</servlet-name>
  	<url-pattern>/MEMBER/HostMng.do</url-pattern>  
  </servlet-mapping>
  
  <!-- 서블릿 등록 권혁우 -->
  <servlet>
 	<servlet-name>AdminList</servlet-name>
	<servlet-class>controller.admin.ListController</servlet-class>
  </servlet>
  <!--요청 URL매핑 권혁우 -->
  <servlet-mapping>
	<servlet-name>AdminList</servlet-name>
	<url-pattern>/ADMIN/List.do</url-pattern>
  </servlet-mapping>
  
    <!-- 서블릿 등록 권혁우 -->
  <servlet>
 	<servlet-name>AdminDelete</servlet-name>
	<servlet-class>controller.admin.DeleteController</servlet-class>
  </servlet>
  <!--요청 URL매핑 권혁우 -->
  <servlet-mapping>
	<servlet-name>AdminDelete</servlet-name>
	<url-pattern>/ADMIN/Delete.do</url-pattern>
  </servlet-mapping>
  
  <!-- 서블릿 등록 권혁우 -->
  <servlet>
 	<servlet-name>AnalControl</servlet-name>
	<servlet-class>controller.analysis.AnalysisController</servlet-class>
  </servlet>
  <!--요청 URL매핑 권혁우 -->
  <servlet-mapping>
	<servlet-name>AnalControl</servlet-name>
	<url-pattern>/analysis/Reserve.do</url-pattern>
  </servlet-mapping>
  
     <!-- 서블릿 등록 성주현 -->
  <servlet>
 	<servlet-name>NormalInfoList</servlet-name>
	<servlet-class>controller.sjh.SjhController</servlet-class>
  </servlet>
  <!--요청 URL매핑 성주현 -->
  <servlet-mapping>
	<servlet-name>NormalInfoList</servlet-name>
	<url-pattern>/NormalInfo/List.do</url-pattern>
  </servlet-mapping>
  
  <!-- 서블릿 등록 성주현 -->
  <servlet>
 	<servlet-name>NormalInfoView</servlet-name>
	<servlet-class>controller.sjh.ViewController</servlet-class>
  </servlet>
  <!--요청 URL매핑 성주현 -->
  <servlet-mapping>
	<servlet-name>NormalInfoView</servlet-name>
	<url-pattern>/NormalInfoView/View.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<!-- 서블릿 명:임의로 지정 최지훈-->
  	<servlet-name>DataList</servlet-name>
  	<!-- 서블릿 클래스의 패키지를 포함한 경로 -->
  	<servlet-class>controller.cjh.ListController</servlet-class>
  	<init-param>
  		<param-name>PAGESIZE</param-name>
  		<param-value>3</param-value>
  	</init-param>
  	<init-param>
  		<param-name>BLOCKPAGE</param-name>
  		<param-value>3</param-value>
  	</init-param>
  </servlet>
  
  <!-- URL패턴(요청URL)을 서블릿에 매핑 -->
  <servlet-mapping>
  	<!-- servlet태그의  servlet-name태그와 일치시키자-->
  	<servlet-name>DataList</servlet-name>
  	<!-- 사용자 요청 URL패턴:반드시 / 로 시작하는 패턴 -->
  	<url-pattern>/member/normal/NormalManage.do</url-pattern>  
  </servlet-mapping>
  
  
  <!-- 컨텍스트 초기화 파라미터 등록 -->
  <context-param>
  	<param-name>ORACLE_DRIVER</param-name>
  	<param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  
  <context-param>
  	<param-name>ORACLE_URL</param-name>
  	<param-value>jdbc:oracle:thin://localhost:1521:orcl</param-value>
  </context-param>
  
  <context-param>
  <param-name>TOMCAT_JNDI_ROOT</param-name>
  <param-value>java:comp/env</param-value>	
  </context-param>
  
    <context-param>
  	<param-name>PAGE_SIZE</param-name>
  	<param-value>2</param-value>
  </context-param>
  <context-param>
  	<param-name>BLOCK_PAGE</param-name>
  	<param-value>3</param-value>
  </context-param>
 
   <!--처리현황 서블릿 등록 박세현 -->
  <servlet>
 	<servlet-name>QuestionControl</servlet-name>
	<servlet-class>controller.psh.QuestionController</servlet-class>
  </servlet>
  <!--요청 URL매핑 박세현 -->
  <servlet-mapping>
	<servlet-name>QuestionControl</servlet-name>
	<url-pattern>/question/current/Current.do</url-pattern>
  </servlet-mapping>

   <!--문의 통계 서블릿 등록 박세현-->
<!--    <servlet>
 	<servlet-name>ProcessingControl</servlet-name>
	<servlet-class>controller.psh.ProcessingController</servlet-class>
  </servlet>
  
  <servlet-mapping>
	<servlet-name>CurrentControl</servlet-name>
	<url-pattern>/question/current/Processing.do</url-pattern>
  </servlet-mapping>
   -->
 
  

  <welcome-file-list>
    <welcome-file>/Session06/Login.jsp</welcome-file>
  </welcome-file-list>
</web-app>